<div class="container">
    <div class="form signin">
        <h2>Sign In</h2>
        <div class="inputBox">
            <input type="text" required="required">
            <mat-icon class="icon">perm_identity</mat-icon>
            <span>username</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required">
            <mat-icon class="icon">lock</mat-icon>
            <span>password</span>
        </div>
        <div class="inputBox submit">
            <input type="submit" value="Login">
        </div>
        <p class="forget">
            Not Registered? 
            <a href="/signup" class="create">Create an account</a>
        </p>
    </div>
</div>