<div class="container">
    <div class="form signup">
        <h2>Sign Up</h2>
        <div class="inputBox">
            <input type="text" required="required">
            <mat-icon class="icon">perm_identity</mat-icon>
            <span>username</span>
        </div>
        <div class="inputBox">
            <input type="text" required="required">
            <mat-icon class="icon"> mail_outline</mat-icon>
            <span>email address</span>
        </div>
        <div class="inputBox">
            <input type="text" required="required">
            <mat-icon class="icon"> phone</mat-icon>
            <span>phone number</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required">
            <mat-icon class="icon">lock</mat-icon>
            <span>create password</span>
        </div>
        <div class="inputBox">
            <input type="password" required="required">
            <mat-icon class="icon">lock</mat-icon>
            <span>confirm password</span>
        </div>
        <div class="inputBox submit">
            <input type="submit" value="Create Account">
        </div>
        <p class="forget">
            Already have an account? 
            <a href="/signin" class="login">Log In</a>
        </p>
    </div>
</div>